body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 700px;
    height: 500px;
    outline: 3px solid black;
    display: grid;
    grid-template-columns: 25% 25% 300px;
}

.box {
    color: white;
    text-align: center;
}

.grid_item1 {
    background-color: aliceblue;
}

.grid_item2 {
    background-color: rgb(62, 127, 184);
}

.grid_item3 {
    background-color: rgb(44, 185, 131);
}

.grid_item4 {
    background-color: rgb(167, 172, 39);
}

.grid_item5 {
    background-color: rgb(144, 36, 133);
}

.grid_item6 {
    background-color: rgb(222, 104, 30);
}